[Unit]
Description=Telegram bot for extraction text from images
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/bots/TextFromImage
ExecStart=/root/bots/TextFromImage/start.sh
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
